.lista-item {
  display: flex;
  justify-content: center;
}
.item {
  /*margin: 2rem auto;*/
  background: var(--blue-heard);
  padding: 3rem 6rem;
  border-right: 1px solid var(--branco-gelo);
  box-sizing: border-box;
}
.item--texto {
  color: var(--branco-gelo);
  text-decoration: none;
}
.item--texto:hover{
  color: var(--yellow-link);
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .lista-item {
    flex-direction: column;
    align-items: center;
  } 
  .item{
    width: 100vw;
    text-align: center;
    margin: 1px;
    padding: 1.5rem 3rem
  }
}